################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Product/.vs/Product/v15/Server/sqlite3
