<div class="container">
  <div class="col-md-6 offset-3">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Welcome to the Demo Portal</h4>
            <p class="card-text">Before you can use this portal you need to login.</p>
            <p class="card-text"><button class="btn btn-primary btn-block" (click)="login()">Login</button></p>
            <p class="card-text"><button class="btn btn-primary btn-block" (click)="getAccessToken()">silent</button></p>
          </div>
        </div>
  </div>
</div>

